.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.login-container{
    height: fit-content;
    width: 20%;
    min-width: fit-content;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.login-header{
    display: flex;
    flex-direction: column; 
    text-align: center;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 2rem;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.button-group{
    display: flex;
    flex-direction: column;
}

.button-group button{
    margin-bottom: 1rem;
}


.utilitiesList{
    font-size: smaller;
    font-weight: 200;
    text-align: left;
}

.login-footer{
    padding: 1rem;
    font-size: smaller;
    font-weight: 100;
}

.login-footer>p{
    font-size: smaller;
    font-weight: 400;

}