.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.login-container{
    height: fit-content;
    width: 20%;
    min-width: fit-content;
}

.login-header{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    margin-bottom: 2rem;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.button-group{
    display: flex;
    flex-direction: column;
}

.button-group button{
    margin-bottom: 1rem;
}